/* -------------------------------- 

cd-popup 

-------------------------------- */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 62rem;
    margin: 4em auto;
    transform: translateY(-100rem);

    // background: #FFF;
    // border-radius: 1.5rem;
    // text-align: center;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    // transform: translateY(-4rem);

    transition-property: transform;
    transition-duration: 1s;

    // img{border-radius: 1.5rem 1.5rem 0rem 0rem;}

    .content {
        background-color: #fff;

        // margin: 0 0 4rem 0;
        // margin-top: -6rem;
        // clip-path: polygon(0px 0px, 100% 0px, 100% 82%, 12.93% 88%, 0px 82%);
        clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 14% 100%, 0px 92%);
    }

    .textcontent {
        padding: 2rem 3rem 4rem 3rem;
    }

    img {
        width: 100%;
        vertical-align: middle;
        transition: all 0.5s;
        min-height: 8rem;
    }

    .item {
        overflow: hidden;

        &.hover img {
            transform: scale(1.2);
        }
    }

    @include media-breakpoint-up(md) {
        .textcontent {
            padding: 3rem 5rem 4rem 5rem;
        }
    }
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: $primary-color;
    border-radius: 100%;
    text-indent: -9999999px;
}

.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 13px;
    width: 14px;
    height: 3px;
    background-color: #fff;
}

.cd-popup-container .cd-popup-close::before {
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}

// .isotope-item {
//     z-index: 2;
// }
// .isotope-hidden.isotope-item {
//     pointer-events: none;
//     z-index: 1;
// }
// .isotope,
// .isotope .isotope-item {
//     /* change duration value to whatever you like
//     -webkit-transition-duration: 0.8s;
//     -moz-transition-duration: 0.8s;
//     transition-duration: 0.8s;
// }
// .isotope {
//     -webkit-transition-property: height, width;
//     -moz-transition-property: height, width;
//     transition-property: height, width;
// }
// .isotope .isotope-item {
//     -webkit-transition-property: -webkit-transform, opacity;
//     -moz-transition-property: -moz-transform, opacity;
//     transition-property: transform, opacity;
// }
// #slider-start {
//     line-height: 120%;
//     p::before {
//         content: "";
//         display: inline-block;
//         width: 100%;
//         height: 50%;
//         //background: url("../images/quote.svg");
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: 80px;
//     }
//     p {
//         font-family: $font-family;
//         font-weight: $font-weight-medium;
//         //background: rgba(242, 149, 6, 0.8);
//         color: $default-color;
//         padding: 20px;
//         position: absolute;
//         white-space: normal;
//         opacity: 1;
//         top: 0;
//         bottom: 0;
//         right: 0;
//         left: 0;
//         margin: 0;
//         z-index: 999;
//         transition: opacity 0.25s ease-in-out;
//     }
//     li:hover > img {}
//     li:hover > p {
//         opacity: 1;
//     }
// }
// /************tooltip**************
// .tooltip {
//     position: absolute;
//     z-index: 1070;
//     display: block;
//     font-size: 1.4rem;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 1.42857143;
//     text-align: left;
//     text-align: start;
//     text-decoration: none;
//     text-shadow: none;
//     text-transform: none;
//     letter-spacing: normal;
//     word-break: normal;
//     word-spacing: normal;
//     word-wrap: normal;
//     white-space: normal;
//     filter:alpha(opacity=0);
//     opacity: 0;
//     line-break: auto;
// }
// .tooltip.in {
//     filter:alpha(opacity=90);
//     opacity: 0.9;
//     -webkit-animation: fadeIn ease-in 1;
//     /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time
//     -moz-animation: fadeIn ease-in 1;
//     animation: fadeIn ease-in 1;
//     -webkit-animation-fill-mode: forwards;
//     /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)
//     -moz-animation-fill-mode: forwards;
//     animation-fill-mode: forwards;
//     -webkit-animation-duration: 0.3s;
//     -moz-animation-duration: 0.3s;
//     animation-duration: 0.3s;
// }
// .tooltip.top {
//     padding: 5px 0;
//     margin-top: -8px;
// }
// .tooltip.right {
//     padding: 0 5px;
//     margin-left: 8px;
// }
// .tooltip.bottom {
//     padding: 5px 0;
//     margin-top: 8px;
// }
// .tooltip.left {
//     padding: 0 5px;
//     margin-left: -8px;
// }
// .tooltip-inner {
//     max-width: 200px;
//     padding: 15px;
//     //color: #fff;
//     text-align: center;
//     background-color: #fff;
//     //border-radius: 4px;
//     border: #D6D6D7 solid 1px;
// }
// // .tooltip-arrow {
// //     position: absolute;
// //     width: 0;
// //     height: 0;
// //     border-color: transparent;
// //     border-style: solid;
// // }
// // .tooltip.top .tooltip-arrow {
// //     bottom: 0;
// //     left: 50%;
// //     margin-left: -5px;
// //     border-width: 5px 5px 0;
// //     border-top-color: #D6D6D7;
// // }
// // .tooltip.top-left .tooltip-arrow {
// //     right: 5px;
// //     bottom: 0;
// //     margin-bottom: -5px;
// //     border-width: 5px 5px 0;
// //     border-top-color: #D6D6D7;
// // }
// // .tooltip.top-right .tooltip-arrow {
// //     bottom: 0;
// //     left: 5px;
// //     margin-bottom: -5px;
// //     border-width: 5px 5px 0;
// //     border-top-color: #D6D6D7;
// // }
// // .tooltip.right .tooltip-arrow {
// //     top: 50%;
// //     left: 0;
// //     margin-top: -5px;
// //     border-width: 5px 5px 5px 0;
// //     border-right-color: #D6D6D7;
// // }
// // .tooltip.left .tooltip-arrow {
// //     top: 50%;
// //     right: 0;
// //     margin-top: -5px;
// //     border-width: 5px 0 5px 5px;
// //     border-left-color: #D6D6D7;
// // }
// // .tooltip.bottom .tooltip-arrow {
// //     top: 0;
// //     left: 50%;
// //     margin-left: -5px;
// //     border-width: 0 5px 5px;
// //     border-bottom-color: #D6D6D7;
// // }
// // .tooltip.bottom-left .tooltip-arrow {
// //     top: 0;
// //     right: 5px;
// //     margin-top: -5px;
// //     border-width: 0 5px 5px;
// //     border-bottom-color: #D6D6D7;
// // }
// // .tooltip.bottom-right .tooltip-arrow {
// //     top: 0;
// //     left: 5px;
// //     margin-top: -5px;
// //     border-width: 0 5px 5px;
// //     border-bottom-color: #D6D6D7;
// // }

//  .tooltip-arrow ,
//  .tooltip-arrow:after {
//   position: absolute;
//   display: block;
//   width: 0;
//   height: 0;
//   border-color: transparent;
//   border-style: solid;
//   border-width: 10px 10px ;
// }
//  .tooltip.bottom .tooltip-arrow  {
//   top: -4px;
//   left: 50%;
//   margin-left: -11px;
//   border-top-width: 0;
//   border-bottom-color: #999;
//   border-bottom-color: rgba(0, 0, 0, .25);
// }
//  .tooltip.bottom .tooltip-arrow:after {
//   top: 1px;
//   margin-left: -10px;
//   content: " ";
//   border-top-width: 0;
//   border-bottom-color: #fff;
// }
// .tooltip.top .tooltip-arrow  {
//   bottom: -4px;
//   left: 50%;
//   margin-left: -11px;
//   border-top-color: #999;
//   border-top-color: rgba(0, 0, 0, .25);
//   border-bottom-width: 0;
// }
// .tooltip.top .tooltip-arrow:after {
//   bottom: 1px;
//   margin-left: -10px;
//   content: " ";
//   border-top-color: #fff;
//   border-bottom-width: 0;
// }

// /* --------------------------------

// Modules - reusable parts of our design

// --------------------------------
// .cd-container {
//     /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width
//     width: 100%;
//     max-width: 980px;
//     margin: 0 auto;
//     display: none;
// }
// .cd-container.is-open {
//     display: block;
// }
// .cd-container:after {
//     content: "";
//     display: table;
//     clear: both;
// }
// .cd-img-replace {
//     /* replace text with background images
//     display: inline-block;
//     overflow: hidden;
//     text-indent: 100%;
//     white-space: nowrap;
// }
// /* --------------------------------

// Main components

// --------------------------------
// .mainimg {
//     max-width: 100%;
//     height: auto;
// }
// .cd-product {
//     text-align: center;
// }
// .cd-product-wrapper {
//     /*  display: inline-block;
//     position: relative;
//     margin: 0 auto;
//     width: 100%;
// }
// .cd-product-wrapper > img {
//     display: block;
// }
// .cd-single-point {
//     position: absolute;
// }
// .cd-single-point > a {
//     position: relative;
//     z-index: 2;
//     display: block;
//     width: 40px;
//     height: 22px;
//     //border: 1px solid #ccc;
//     @include media-breakpoint-down(sm) {
//         width: 10px;
//         height: 5px;
//     }
//     @include media-breakpoint-down(md) {
//       height: 17px;
//       width: 27px;
//     }
// }
// .cd-single-point > a::after,
// .cd-single-point > a:before {
//     /* rotating plus icon
//     content: '';
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     bottom: auto;
//     right: auto;
// }
// .cd-single-point > a::after {
//     height: 2px;
//     width: 12px;
// }
// .cd-single-point > a::before {
//     height: 12px;
//     width: 2px;
// }
// .cd-single-point::after {
//     /* this is used to create the pulse animation
//     content: '';
//     position: absolute;
//     z-index: 1;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     border-radius: inherit;
//     background-color: transparent;
//     -webkit-animation: cd-pulse 2s infinite;
//     -moz-animation: cd-pulse 2s infinite;
//     animation: cd-pulse 2s infinite;
// }
// .btn-all {
//     z-index: 8000;
//     position: absolute;

//     @include media-breakpoint-down(sm) {
//         display: none;
//     }
//     position: absolute;
//     left: 0;
//     top: 30%;
//     width: 10rem!important;
//     .is-open {
//         width: 17rem;
//         background-color: rgba(0, 120, 190, 1);
//     }
//     min-height: 5rem;
//     @include font-size($norm);
//     font-family: $font-family-secondary;
// }
// .btn-eg {
//     padding: 1rem 1rem 1rem 4rem;
//     background-color: #A5A6A7;
//     color: #FFFFFF;
//     margin-bottom: 1.0rem;
//     cursor: pointer;
//     position: relative;
//     width: 13rem;
//     background-color: #002d5f;
//     /* this was a key property missing from your code
// }
// .btn-eg:after {
//     border-bottom: 2.4rem solid transparent;
//     border-left: 2rem solid #002d5f;
//     border-top: 2.4rem solid transparent;
//     content: "";
//     height: 0;
//     margin: -10px 90px 0 10px;
//     position: absolute;
//     width: 0;
//     left: 12rem;
// }
// .btn-eg.is-open:after {
//     left: 16rem;
//       border-left: 2rem solid rgba(0, 120, 190, 1);
// }
// // .btn-eg:nth-of-type(1){background-color: #CDC992;}
// // .btn-eg:nth-of-type(1):after{border-left: 20px solid #CDC992;}
// // .btn-eg:nth-of-type(2){background-color: #A27173;}
// // .btn-eg:nth-of-type(2):after{border-left: 20px solid #A27173;}
// // .btn-eg:nth-of-type(3){background-color: #D4CAC7;}
// // .btn-eg:nth-of-type(3):after{border-left: 20px solid #D4CAC7;}
// // .btn-eg:nth-of-type(4){background-color: #C69A83;}
// // .btn-eg:nth-of-type(4):after{border-left: 20px solid #C69A83;}
// // .btn-eg:nth-of-type(5){background-color: #ACB266;}
// // .btn-eg:nth-of-type(5):after{border-left: 20px solid #ACB266;}
// .conimg-eg {
//     .cd-single-point:nth-of-type(1) {
//         right: 67%;
//         top: 53.6%;
//     }
//     .cd-single-point:nth-of-type(2) {
//         right: 64.7%;
//         top: 61.4%;
//     }
//     .cd-single-point:nth-of-type(3) {
//         right: 61.8%;
//         top: 68%;
//     }
//     .cd-single-point:nth-of-type(4) {
//         right: 59.9%;
//         top: 51.5%;
//     }
//     .cd-single-point:nth-of-type(5) {
//         right: 55.9%;
//         top: 47%;
//     }
//     .cd-single-point:nth-of-type(6) {
//         right: 50.5%;
//         top: 49.2%;
//     }
//     .cd-single-point:nth-of-type(7) {
//         right: 41.4%;
//         top: 53.5%;
//     }
//     .cd-single-point:nth-of-type(8) {
//         right: 43.9%;
//         top: 61%;
//     }
//     .cd-single-point:nth-of-type(9) {
//         right: 37.5%;
//         top: 61.9%;
//     }
//     .cd-single-point:nth-of-type(10) {
//         right: 45.4%;
//         top: 45.8%;
//     }
//     .cd-single-point:nth-of-type(11) {
//         right: 40.8%;
//         top: 42.3%;
//     }
//     .cd-single-point:nth-of-type(12) {
//         right: 34.9%;
//         top: 44.5%;
//     }
//     .cd-single-point:nth-of-type(13) {
//         right: 26.5%;
//         top: 45.9%;
//     }
//     .cd-single-point:nth-of-type(14) {
//         right: 30.5%;
//         top: 40.8%;
//     }
//     .cd-single-point:nth-of-type(15) {
//         right: 24.9%;
//         top: 37.5%;
//     }
//     .cd-single-point:nth-of-type(16) {
//         right: 19.1%;
//         top: 40%;
//     }
// }
// .conimg-e1-3 {
//     .cd-single-point:nth-of-type(1) {
//         right: 71.4%;
//         top: 14.3%;
//     }
//     .cd-single-point:nth-of-type(2) {
//         right: 76.7%;
//         top: 18.3%;
//     }
//     .cd-single-point:nth-of-type(3) {
//         right: 74%;
//         top: 22.5%;
//     }
//     .cd-single-point:nth-of-type(4) {
//         right: 68.5%;
//         top: 23.5%;
//     }
//     .cd-single-point:nth-of-type(5) {
//         right: 65.6%;
//         top: 19.1%;
//     }
//     .cd-single-point:nth-of-type(6) {
//         right: 63.4%;
//         top: 26%;
//     }
//     .cd-single-point:nth-of-type(7) {
//         right: 67.4%;
//         top: 30.5%;
//     }
//     .cd-single-point:nth-of-type(8) {
//         right: 61.3%;
//         top: 19.2%;
//     }
//     .cd-single-point:nth-of-type(9) {
//         right: 57.5%;
//         top: 14.5%;
//     }
//     .cd-single-point:nth-of-type(10) {
//         right: 51.2%;
//         top: 16%;
//     }
//     .cd-single-point:nth-of-type(11) {
//         right: 45%;
//         top: 18.9%;
//     }
//     .cd-single-point:nth-of-type(12) {
//         right: 47%;
//         top: 25.7%;
//     }
//     .cd-single-point:nth-of-type(13) {
//         right: 41.8%;
//         top: 25.9%;
//     }
//     .cd-single-point:nth-of-type(14) {
//         right: 46.7%;
//         top: 12.8%;
//     }
//     .cd-single-point:nth-of-type(15) {
//         right: 41.7%;
//         top: 12.9%;
//     }
//     .cd-single-point:nth-of-type(16) {
//         right: 36%;
//         top: 13.5%;
//     }
//     .cd-single-point:nth-of-type(17) {
//         right: 29.4%;
//         top: 15%;
//     }
//     .cd-single-point:nth-of-type(18) {
//         right: 32.1%;
//         top: 10%;
//     }
//     .cd-single-point:nth-of-type(19) {
//         right: 25.9%;
//         top: 9.4%;
//     }
//     .cd-single-point:nth-of-type(20) {
//         right: 20.9%;
//         top: 11%;
//     }
//     .cd-single-point:nth-of-type(21) {
//         right: 81.2%;
//         top: 18.2%;
//     }
// }
// .conimg-e4 {
//     .cd-single-point:nth-of-type(1) {
//         bottom: 92.5%;
//         right: 73%;
//     }
//     .cd-single-point:nth-of-type(2) {
//         bottom: 88%;
//         right: 77%;
//     }
//     .cd-single-point:nth-of-type(3) {
//         bottom: 85%;
//         left: 24.5%;
//     }
//     .cd-single-point:nth-of-type(4) {
//         right: 66.4%;
//         top: 6.7%;
//     }
//     .cd-single-point:nth-of-type(5) {
//         right: 65.4%;
//         top: 14%;
//     }
//     .cd-single-point:nth-of-type(6) {
//         right: 68.5%;
//         top: 18%;
//     }
// }
// .cd-single-point.is-open > a {
//     background-color: #475f74;
// }
