
.map_wrapper {
  width: 100%;
  height: 520px;
  margin: 0;
  padding: 0;
}

.map_wrapper {
  line-height: normal;
  width: 100%;
  position: relative;
}

.infoBox {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) !important;
  margin-top: 8px;
  width: 200px;
}

.infoBox > img {
  z-index: 9;
}

.infobox .map_info {
  background: none repeat scroll 0 0 #fff;
  //border: 1px solid #aaa;
  padding: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.infobox .map_info {
  position: relative;
  background: #fff;
  //border: 1px solid #aaa;
}

.infobox .map_info:after,
.infobox .map_info:before {
  bottom: 100%;
  left: 100px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.infobox .map_info:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.infobox .map_info:before {
  border-color: rgba(170, 170, 170, 0);
  border-bottom-color: #aaa;
  border-width: 9px;
  margin-left: -9px;
}

.infobox .map_info,
#infobox .map_info div,
.infobox .map_info span {
  font-size: 12px;
  line-height: 18px;
}

.map_info span {
  font-size: 12px;
  line-height: 18px;
}
