* {
  box-sizing: border-box;
}

body, html {
  font-family: "inter",sans-serif; 
  height: 100%;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: $global-bg-color;
  // font-family: $font-family;
  color: $body-font-color;
  position: relative;

  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  @apply subpixel-antialiased text-base;
  @include font-size-line-height(
    $base-font-size,
    $base-font-size + $base-line-height
  );
 
  // @include font-smoothing(on);
  // @include media-breakpoint-down(md) {
  //   @include font-size-line-height(
  //     $base-font-size - 0.2,
  //     $base-font-size + $base-line-height - 0.2
  //   );
  //   -webkit-text-size-adjust: none;
  //   -ms-text-size-adjust: none;
  //   // hyphens: auto;
  // }
}



::selection {
  background: rgba(0, 0, 0, 0.1);
}

.hide {
  display: none;
}

.hide.active,
.show {
  display: block;
}

// Partial to align Text Left or Right
%text-center {
  text-align: center;
}
%text-left {
  text-align: left;
}
%text-right {
  text-align: right;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
  display: block;
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.divider{
  height: 0.1rem;
  background-color: #f1f1f1;
}

.icon-big {
  width: 3.5rem;
  height: 3.5rem;
  stroke-width: 2;
}

.icon-w {
  color: #ffffff;
  width: 32px;
  height: 32px;
  stroke-width: 2.25;
}