
$primary: #0d6efd;
$secondary: #495057;
$success: #d1fae5;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #e35d6a;
$primarybrand: #C6C6C6;
$secondarybrand: #FFA700;
$dackbrand:#36424A;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "primarybrand":  $primarybrand,
  "secondarybrand":  $secondarybrand,
  "dackbrand": $dackbrand
) !default;

@function v($color-name) {
    @return var(--color-#{$color-name});
}

@each $color, $value in $theme-colors {
    .bg-#{$color},.btn-#{$color} {
        background-color: $value;
    }
    .text-kp-#{$color}{
        color: $value;
    }
}