main > div, footer,header {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(80ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 5rem);
    --feature: minmax(0, 8rem);
    display: grid;

    @apply gap-y-8 md:gap-y-16;

    grid-template-columns: [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];
}

main div > section, footer > * , header > * {
    grid-column: content;
}

.popout {
    grid-column: popout;
}

.feature {
    grid-column: feature;
}

.full {
    grid-column: full;
}

.ql-align-center {
    @apply text-center;
}

.ql-align-right {
    @apply text-right;
}

.ql-align-left {
    @apply text-left;
}

.divider {
    height: 0.1rem;
    background-color: #e6e6e6;
}

.grid-3-2 {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-column: 2/3;

    // grid-gap: 0 8rem;
}

.grid-1-4 {
    display: grid;
    gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 1fr 5fr;
    grid-column: 2/3;

    // grid-gap: 0 8rem;
}

.grid-2 {
    display: grid;
    gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr;

    // grid-column: 2/3;
    @apply grid-cols-1 sm:grid-cols-2 sm:gap-8 gap-0;
}

.grid-2-3 {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 4fr;
    grid-column: 2/3;

    //  @apply -sm:grid-cols-1;
}
