html {
    @apply antialiased scroll-smooth;
    scroll-padding-top: var(--header-h);
}

body {
    background-position: center;
    @apply scroll-smooth;
}

[x-cloak] {
    display: none !important;
}
