    body,
    html {
        height: 100%;
    }

    html {
        min-height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        @apply antialiased;
    }

    section{
        overflow: hidden;
    }
