.btn,
.button,
.read_more,
a.button {
  @apply flex justify-center items-center py-2 px-3 gap-x-2 rounded bg-primary-500 text-white transition ease-in duration-200 font-medium hover:bg-transparent hover:text-primary-500 border-2 border-primary-500;

  &.bg-primary {
    @apply bg-primary-500 hover:bg-blue-600 hover:bg-transparent hover:text-primary-500 border-2 border-primary-500;
  }

}

.btn-danger
{
  @apply py-2 px-3 rounded bg-red-500 text-white hover:bg-transparent hover:text-red-500 border-2 border-red-500;

}

.btn-secondary
{
  @apply py-2 px-3 rounded text-white hover:bg-transparent hover:text-slate-400 border-2 border-slate-400;

}

.icon--is-spinning {
  animation: icon-spin 1s infinite linear;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.icon use {
  color: inherit;
  fill: currentColor;
}