main.dashboard {
    display: grid;
    grid-template-columns: 15rem 1fr;
    /* Show the side nav for non-mobile screens */
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-areas: "sidenav header""sidenav main-content";

}

header-bar {
    grid-area: header;
    @apply bg-darkgreen-500 px-8;
}

footer {
    grid-area: footer;
}


.main-content {
    grid-area: main-content;
    @apply relative  grid gap-x-12 gap-y-4 text-white ;


    header {
        @apply px-12 pb-32 bg-darkgreen-500;
    }


    section {
        &:first-of-type {
            @apply  -mt-20
        }

        @apply grid px-12 text-black;
        grid-template-columns:  minmax(min(20rem, 100%) ,90rem ) ;
    }
}


/* // header,
// footer {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0 2.5rem;
//     background-color: #f8f9fa;
// } */

.sidenav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15rem;
    height: 100%;
    border-right: .1rem solid #e9ecef;

    a {
        display: flex;
        padding: 0.5rem 1.5rem;
        align-items: center;
        @apply text-sm;
        font-weight: 600;
        position: relative;

        &.active {
            svg {
                @apply stroke-brand-500;
            }

            font-weight: 700;
            @apply bg-gradient-to-r from-gray-50 to-gray-100 text-gray-500;

            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 0.4rem;
                left: 0;
                @apply bg-brand-500;

            }
        }
    }

    span {
        margin-left: 0.8rem;
    }

    .logo {
        padding: 1rem 1.6rem;
    }
}