// // Form HTML5 Inputs

#{$all-text-inputs} {
    // @apply border-2 border-orange-500;
    width: 100%;
    padding: 0.8rem;
    margin: 0.4rem 0;
    border: 2px solid rgba(201, 201, 201, 1);
    border-radius: 0.4rem;
}


textarea {
    // @apply border-2 border-orange-500;
    width: 100%;
    padding: 1rem;
    margin: 0.4rem 0;
    border: 2px solid rgba(201, 201, 201, 1);
    border-radius: 0.4rem;
    outline: none !important;
}

select::-ms-expand {
    display: none;
}

.text-danger {
    color: $danger-color;
    font-size: 1rem;
    font-weight: 600;
}

// .footer-info{
//     font-size: 1.4rem;
//     line-height: 2rem;
//     margin-bottom: 2rem !important;
// }

.default-checkbox {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.2s linear;

    input[type=checkbox] {
        display: none;
    }



    .text {
        margin: 1px;
    }

    span {
        background-color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        display: block;
        margin: 0 10px 0 0;

        transition: background-color 0.15s ease-in;
        width: 12px;
        position: relative;

        &::before {
            display: block;
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: background 0.25s linear;
            background: #fff;
        }
    }

    span:hover {
        background: #f5f5f5;
    }

    input[type=checkbox]:checked + span {
        background-color: #fff;
        color: #fff;
        text-decoration: none;
        @apply border-2 border-orange-500;

        &::before {
            background: $primary-color;
        }
    }

    input[type=checkbox]:checked:hover + span {
        background-color: #fff;
        color: #f5f5f5;
        text-decoration: none;
        @apply border-2 border-orange-500;

        &::before {
            background: $primary-color;
        }
    }
}

.radiobox {
    display: flex;
    margin-top: 0.2rem;
    font-size: 1rem;
}

.default-radio {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    input[type=radio] {
        display: none;
    }

    div {
        font-size: 1.0rem;
        font-weight: 600;
    }

    .text {
        margin: 1px;
    }

    span {
        background-color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        display: block;
        margin: 0 10px 0 0;

        @apply border-2 border-orange-500;
        transition: background-color 0.15s ease-in;
        width: 12px;
        border-radius: 100%;

        // float: left;
        position: relative;

        &::before {
            display: block;
            position: absolute;
            content: "";
            border-radius: 100%;
            height: 12px;
            width: 12px;
            top: 50%;
            left: 50%;
            margin: auto;
            transform: translateX(-50%) translateY(-50%);
            transition: background 0.25s linear;
            background: #fff;
        }
    }

    span:hover {
        background: #f5f5f5;
    }

    input[type=radio]:checked + span {
        background-color: #fff;
        color: #fff;
        text-decoration: none;
        @apply border-2 border-orange-500;

        &::before {
            background: $primary-color;
        }
    }

    input[type=radio]:checked:hover + span {
        background-color: #fff;
        color: #f5f5f5;
        text-decoration: none;
        @apply border-2 border-orange-500;
    }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  border-radius: .5rem;
  font-size: 1em;
  width: 100%;
  outline: 0;
  color: #000;
  background-color: #fff;
//   background-image: url('img/svg/dropdown.svg');
  background-position: right;
  background-repeat: no-repeat;

  font-weight: 500;
  cursor: context-menu;
  padding: 1rem;
  margin: 0.5rem 0 3rem;
  border: 2px solid rgba(201, 201, 201, 1);
  border-radius: 0.4rem;
  // option {
  //     color: #333;
  //     padding: 2px;
  //     border: none;
  //     border-radius: 0;
  //     box-shadow: none;
  // }

  option {
    border-bottom: 1px solid #bbb;
    padding: 1rem 1.5rem;
    background-color: #fff;
    color: #333;
    background-position: right;
    background-repeat: no-repeat;
  }

  option:disabled {
    color: #999;
  }
}

// /*target Internet Explorer 9 and Internet Explorer 10:
// @media screen and (min-width: 0\0) {
//   select {
//     background: #fff;
//   }
// }

// // p.sternchen {
// //     font-size: 1.4rem;
// // }
// // .loader-icon{
// //   height: 20rem;

// // }
// // .fromloader {
// //     //@include loader08;
// //     margin: 0 auto;
// // }
// // .darf,
// // .darfnicht,.success {
// //     background-position: 4rem center;
// //     background-repeat: no-repeat;
// //     border: 1px solid #207f23;
// //     margin: 0.5rem 0 1.5rem 0;
// //     padding: 2rem;
// //     color: $primary-color;

// //     p {
// //         margin: 0;
// //     }
// //     @include media-breakpoint-up(md) {
// //         background-image: url("img/ok.svg");
// //         padding: 2rem 2rem 2rem 15rem;
// //     }
// // }

// // .darfnicht {
// //     border: 1px solid $danger-color;
// //     @include media-breakpoint-up(md) {
// //         background-image: url("img/nook.svg");
// //     }
// //     color: $danger-color;
// // }
// // input:valid,
// // input:in-range {
// //     background:hsl(120, 50%, 90%);
// //     border-color:hsl(120, 50%, 50%);
// // }
// //
// // input:focus + .help,
// // input:invalid + .help {
// //     display:inline-block;
// // }

.default-checkbox {
    margin-top: 0.5rem;

    input[type=checkbox] {
        display: none;
    }

    .text {
        margin: 1px;
    }

    span {
        background-color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 8px;
        cursor: pointer;
        display: block;
        margin: 0 10px 0 0;
        border: 2px solid $body-font-color;
        transition: background-color 0.15s ease-in;
        width: 12px;

        // float: left;

    }

    span:hover {
        background: #f5f5f5;
    }

    input[type=checkbox]:checked + span {
        // background: url("img/check.svg");
        // background-color: $primary-color;
        color: #fff;
        text-decoration: none;
        @apply border-2 border-orange-500;
    }

    input[type=checkbox]:checked:hover + span {
        // background-color: $primary-color;
        color: #f5f5f5;
        text-decoration: none;
        @apply border-2 border-orange-500;
    }
}

// .wpcf7-submit {
//   &::after {
//     content: "";
//     background: $primary-color;
//     mask-image: url("img/link.svg");

//     @include ie11 {
//       background-image: url("img/link.svg");
//       background-color: transparent;
//     }

//     width: 32px;
//     height: 32px;
//     position: absolute;
//     margin: 1rem;
//   }

//   &:hover {
//     color: $body-link-hover-color;
//   }

//   &:hover::after {
//     content: "";
//     color: $body-link-hover-color;

//     @include ie11 {
//       background-image: url("img/link.svg");
//       background-color: transparent;
//     }

//     background-color: $global-bg-color;
//     animation: arrowjumpright 2s infinite;
//   }
// }

span.wpcf7-list-item {
    margin: 0;

    span {
        background-color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        display: block;
        margin: 0 10px 0 0;
        border: 0.2rem solid #c9c9c9;
        border-radius: 0.4rem;
        transition: background-color 0.15s ease-in;
        width: 12px;
        float: left;
        font-size: 0;
        height: 1rem;
        position: relative;
        top: 0.4rem;
    }

    span:hover {
        background: #f5f5f5;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked + span {
        // background: url("/img/svg/check.svg");
        background-color: $primary-color;
        color: #fff;
        text-decoration: none;
        border: 0.2rem solid $color-light-grey;
    }

    input[type=checkbox]:checked:hover + span {
        background-color: $primary-color;
        color: #f5f5f5;
        text-decoration: none;
        border: 0.2rem solid $color-light-grey;
    }
}

// .contact-form .error{
//   padding: 2rem;
//   margin-top: 2rem;
//   background-color: $danger-color;
//   color: #fff;
//   font-weight: bold;
// }
// .contact-form{
//   margin-bottom: 4rem;
// }
// .form-horizontal {
//   margin: 0 auto;
//   max-width: 80rem;

//   // .col-sm-1{
//   // //   @include make-col-span(1.5);
//   // //   @include media-breakpoint-up(md) {@include make-col-span(1)};
//   // }
//   .col-sm-11 {
//     @include make-col-span(8);

//     //   @include media-breakpoint-up(md) {@include make-col-span(11)};
//     p {
//       font-size: 1.4rem;
//     }
//   }

//   .control-label {
//     font-weight: bold;
//     display: block;
//     line-height: 130%;
//   }

//   input[type="email"] {
//     border-radius: 0;
//     -webkit-appearance: none;
//     background: $color-light-grey;
//     border: 0px solid #979797;
//     color: $primary-color;
//     padding: 2rem;
//     //   font-weight: bold;
//     width: 60%;

//     @include media-breakpoint-up(md) {
//       width: 80%;
//     }
//   }

//   input[type="submit"]:hover {
//     background: $primary-color;
//   }

//   .dzbox {
//     // @include media-breakpoint-down(md) {
//     //   padding-top: 8rem;
//     // }
//     font-size: 1.4rem;
//     padding-top: 2rem;

//     p {
//       line-height: 130% !important;
//       font-size: 1.4rem !important;
//     }
//   }
// }

.slide-up-down, .slide-close {
    overflow: hidden;
}

.slide-up > form {
    transform: translateY(0);

    // transition:  ease-in-out;
    // height: 100%;
}

.slide-close > form {
    // height: 0;
    animation: slideup .5s forwards;
}

.slide-down > div {
    transform: translateY(-100%);

    // height: 0;
    animation: slidedown .5s forwards;
    animation-delay: .5s;
}

@keyframes slideup {
    to {
        transform: translateY(-100%);
        height: 0;
    }
}

@keyframes slidedown {
    to {
        transform: translateY(0);

        // height: 0;

    }
}

[type=submit]:disabled {
    cursor: not-allowed;
}

#{$all-text-inputs-hover} {
    // Target the :hover pseudo-class
    background: $default-color;
    outline: none !important;
}

#{$all-text-inputs-focus} {
    // Target the :focus pseudo-class
    background: #fff;
    outline: none !important;
}

#{$all-button-inputs} {
    background: #fff;
}

#{$all-button-inputs-hover} {
    // Target the :hover pseudo-class
    background: #fff;
}

#{$all-button-inputs-focus} {
    // Target the :focus pseudo-class
    background: #fff;
}

#{$all-button-inputs-active} {
    // Target the :active pseudo-class
    background: #fff;
}

// .checkbox3,
// .checkbox2,
// .checkbox1 {
//   // width: 32%;
//   float: left;
//   margin: 0 1.5rem 1.5rem 0;
// }

// .button-checkbox {
//   input[type=checkbox] {
//     display: none;
//   }

//   span {
//     background-color: #fff;
//     font-weight: 700;
//     color: $primary-color;
//     text-decoration: none;
//     text-align: center;
//     padding: 0.8rem 3.8rem;
//     cursor: pointer;
//     display: block;
//     margin: 0 auto;
//     @apply border-2 border-orange-500;
//     transition: background-color 150ms ease-in;
//     border-radius: 0.4rem;
//   }

//   span:hover {
//     background: #f5f5f5;
//   }

//   input[type=checkbox]:checked+span {
//     background-color: $primary-color;
//     color: #f5f5f5;
//     text-decoration: none;
//     @apply border-2 border-orange-500;
//   }

//   input[type=checkbox]:checked:hover+span {
//     background-color: $primary-color;
//     text-decoration: none;
//   }
// }

// .filter-button {
//   font-weight: bold;
//   color: #000;
//   font-size: 2rem;
//   padding-bottom: 1rem;
//   padding-top: 4rem;
//   margin-bottom: 4rem;
//   border-bottom: 0.2rem #D8D8D8 solid;
//   cursor: pointer;

//   &::before {
//     content: "";
//     background-image: url('img/svg/sort.svg');
//     height: 3.5rem;
//     width: 4rem;
//     display: block;
//     float: left;
//     background-repeat: no-repeat;
//     background-position: center;
//     margin-right: 1rem;
//   }

//   &.is-icon-close {
//     margin-bottom: 0rem;

//     &::before {
//       content: "";
//       background-image: url('img/svg/close.svg');
//       height: 3.5rem;
//       width: 4rem;
//       display: block;
//       float: left;
//       background-repeat: no-repeat;
//       background-position: center;
//       margin-right: 1rem;
//     }
//   }

// }

// .tabs {
//   // @include make-col();
//   @include make-col-span(12);
//   // @include make-col-offset(1);
//   // @include media-breakpoint-up(xl) {
//   //   @include make-col-offset(2);
//   //   @include make-col-span(8);
//   // }
//   // @include media-breakpoint-down(lg) {
//   //   @include make-col-span(12);
//   // }

//   display: flex;
//   flex-wrap: wrap;
//   padding-bottom: 4rem;

//   &.is-hidden {
//     display: none;
//   }

//   &::after {
//     content: "";
//     width: 100%;
//     position: relative;
//     left: 0;
//     border-bottom: 0.2rem #D8D8D8 solid;
//     z-index: 1;
//     top: -0.2rem;
//   }

//   .input {
//     position: absolute;
//     opacity: 0;
//   }

//   .label {
//     width: 100%;
//     padding: 20px 30px;
//     // background: #F9F9F9;
//     cursor: pointer;
//     font-weight: bold;
//     font-size: 18px;
//     color: #7f7f7f;
//     border-bottom: 0.2rem #D8D8D8 solid;
//     transition: background 0.1s, color 0.1s;
//     z-index: 2;
//   }

//   .label:hover {
//     background: #f5f5f5;
//   }

//   .label:active {
//     background: #ccc;
//   }

//   .input:focus+.label {
//     z-index: 1;
//   }

//   .input:checked+.label {
//     color: $primary-color;
//     border-bottom: 0.2rem $primary-color solid;
//   }

//   // @media (min-width: 600px) {

//   // }
//   @include media-breakpoint-up(sm) {
//     .label {
//       width: auto;
//     }
//   }

//   .panel {
//     @include make-row;
//     margin-left: 0rem;
//     margin-right: 0rem;
//     display: none;
//     padding: 2rem 0 0;
//     width: 100%;
//     box-shadow: 0;

//   }

//   // @media (min-width: 600px) {

//   // }
//   .panel {
//     order: 99;
//   }

//   .input:checked+.label+.panel {
//     display: flex;
//   }

//   &.modul {
//     .panel {
//       padding: 4rem 0 0;
//     }

//     @include media-breakpoint-up(md) {
//       .label {
//         width: 25% !important;
//         text-align: center !important;
//       }
//     }

//     .image {
//       @include media-breakpoint-up(md) {
//         @include make-col-span(6);
//         order: 2;
//       }

//       text-align: end;

//       img {
//         border-radius: 0.5rem;
//       }
//     }

//     .text-info {
//       @include media-breakpoint-up(md) {
//         @include make-col-span(6);
//         order: 1;
//       }

//       h3 {
//         padding-top: 2rem;
//       }

//       h3::after {
//         content: "";
//         display: block;
//         height: 6px;
//         width: 96px;
//         background-color: #2578c1;
//         margin-top: 2rem;
//       }
//     }
//   }
// }

// .blue {
//   .onethird {
//     margin-left: 1.5rem;
//     margin-right: 1.5rem;
//   }

//   .tabs {
//     @include media-breakpoint-up(md) {
//       @include make-col-span(8);
//       @include make-col-offset(2);
//     }

//     &::after {
//       content: "";
//       width: 90%;
//       position: relative;
//       left: 5%;
//       border-bottom: 0.2rem $default-color solid;
//       z-index: 1;
//       top: -4.2rem;
//     }

//   }

//   .label {
//     width: 100%;
//     height: 8rem !important;
//     width: 8rem !important;
//     padding: 2.1rem 0 0 0;
//     text-align: center;
//     cursor: pointer;
//     font-weight: bold;
//     font-size: 18px;
//     color: $default-color;
//     background: $base-color-3;
//     // border-bottom: 0.2rem #D8D8D8 solid;
//     border-radius: 100%;
//     border: 0.2rem $default-color solid;
//     transition: background 0.1s, color 0.1s;
//     z-index: 2;
//     margin: 0 auto;
//     &:hover {
//       background: #f5f5f5;
//       color: $base-color-3;
//     }
//   }

//   .input:checked+.label {
//     background: #FFF;
//     color: $base-color-3;
//     border-radius: 100%;
//     border: 0.2rem $default-color solid;
//     box-shadow: -1px 13px 20px 0 rgba(0, 0, 0, 0.24);
//   }
// }
