.itemblock {
    background-color: #fff;
    &.sort-ghost {
        opacity: 0.6

     }
     &.sort-chosen{
        @apply border-blue-400 border-2;
        opacity: 0.5;
     }
     &.sort-drag {
        opacity: 0.5;
     }
}