@font-face {
  font-display: swap;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/hind-v18-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/hind-v18-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/hind-v18-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hind-v18-latin-regular.woff2') format('woff2');
}

