@charset "UTF-8";
/*!
*
*
* Built with love by secondnetwork
*
* http://secondnetwork.de
* http://kompass.secondnetwork.de
*

Description: Development and Theme Design by secondnetwork
Version: 1.0.0
Author: Andreas Farah
Author URI: http://secondnetwork.de

License: MIT
License URI: http://opensource.org/licenses/mit-license.php
*/


@import "tailwindcss";
@source "../views";
@source "../views/";
@source "../../app/";
@source '../**/*.blade.php';

@source inline("{,md:,lg:,xl:}grid-cols-{1..6}");
@source inline("{,md:,lg:,xl:}grid-span-{1..6}");

@import "./base/base.css";
@import "./base/fonts.css";
@import "./base/typography.css";
@import "./base/grid_layout.css";

@import "./components/header_hero.css";
@import "./components/navigation.css";
@import "./components/form.css";
@import "./components/lite-yt-embed.css";
@import "./components/gallery.css";


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --animate-spin: spin 3s linear infinite;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}
