@charset "UTF-8";
/*!
*
*
* Built with love by secondnetwork
*
* http://secondnetwork.de
* http://kompass.secondnetwork.de
*

Description: Development and Theme Design by secondnetwork
Version: 1.0.0
Author: Andreas Farah
Author URI: http://secondnetwork.de

License: MIT
License URI: http://opensource.org/licenses/mit-license.php
*/


@import "tailwindcss";
@source "../views";
@source "../views/";
@source "../../app/";
@source '../**/*.blade.php';

@plugin "daisyui";

@source inline("{,md:,lg:,xl:}grid-cols-{1..6}");
@source inline("{,md:,lg:,xl:}grid-span-{1..6}");

@import "./base/base.css";
@import "./base/fonts.css";
@import "./base/typography.css";
@import "./base/grid_layout.css";

@import "./components/header_hero.css";
@import "./components/navigation.css";
@import "./components/form.css";
@import "./components/lite-yt-embed.css";
@import "./components/gallery.css";


@theme {
    --font-sans: 'inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(87% 0.01 258.338);
  --color-base-content: oklch(37% 0.034 259.733);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(98% 0.001 106.423);
  --color-accent: oklch(49% 0.27 292.581);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(74% 0.16 232.661);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(27% 0.033 256.848);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(27% 0.033 256.848);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

