@charset "UTF-8";
/*!
*
*
* Built with love by secondnetwork
*
* http://secondnetwork.de
* http://kompass.secondnetwork.de
*

Description: Development and Theme Design by secondnetwork
Version: 1.0.0
Author: Andreas Farah
Author URI: http://secondnetwork.de

License: MIT
License URI: http://opensource.org/licenses/mit-license.php
*/


@import "tailwindcss";
@source "../views";
@source "../views/";
@source "../../app/";
@source '../**/*.blade.php';

@plugin "daisyui";

@source inline("{,md:,lg:,xl:}grid-cols-{1..6}");
@source inline("{,md:,lg:,xl:}grid-span-{1..6}");

@import "./base/base.css";
@import "./fonts.css";
@import "./base/typography.css";
@import "./base/grid_layout.css";

@import "./components/header_hero.css";
@import "./components/navigation.css";
@import "./components/form.css";
@import "./components/lite-yt-embed.css";
@import "./components/gallery.css";


@theme {
    --font-sans: 'Hind', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --animate-spin: spin 3s linear infinite;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    img {
    /* Verhindert, dass der Alt-Text h채sslich 체ber dem Placeholder liegt, w채hrend es l채dt */
    color: transparent; 
}
}



@plugin "daisyui/theme" {
  name: "blaiq";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(87% 0 0);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #f6319a;
  --color-secondary-content: oklch(21% 0.034 264.665);
  --color-accent: #b4fa4b;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(87% 0.006 286.286);
  --color-neutral-content: oklch(21% 0.034 264.665);
  --color-info: #5bf1ff;
  --color-info-content: oklch(21% 0.034 264.665);
  --color-success: #26C486;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #FFD500;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

