[class*="kompass-admin-"] {

    overflow-y: scroll;

    main {
        display: grid;
        grid-template-columns: 15rem 1fr;
        grid-template-rows: 4rem 1fr 4rem;
        grid-template-areas: "sidenav header""sidenav main-content""sidenav footer";
    }

    header {
        grid-area: header;
        border-bottom: .1rem solid #e9ecef;
    }

    footer {
        grid-area: footer;
        border-top: .1rem solid #e9ecef;
    }

    .main-content {
        grid-area: main-content;
        @apply bg-gray-50 px-6 relative;
    }

    header,
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        background-color: #f8f9fa;
    }

    .sidenav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 15rem;
        height: 100%;
        border-right: .1rem solid #e9ecef;
    
        a {
            display: flex;
            padding: 0.35rem 1.5rem;
            align-items: center;
            @apply text-sm;
            font-weight: 600;
            position: relative;
    
            &.active {
                svg {
                    @apply stroke-brand-500;
                }
    
                font-weight: 700;
                @apply bg-gradient-to-r from-gray-50 to-gray-100 text-gray-500;
    
                &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 0.3rem;
                    left: 0;
                    @apply bg-brand-500;
    
                }
            }
        }
    
        span {
            margin-left: 0.8rem;
        }
    
        .logo {
            padding: 1rem 1.6rem;
        }
    }

    /* // .sidenav {
    //   grid-area: sidenav;
    //   background-color: #394263;
    //   display: flex;
    //   flex-direction: column;
    //   height: 100%;
    //   width: 240px;
    //   position: fixed;
    //   overflow-y: auto;
    //   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    //   z-index: 2; /* Needs to sit above the hamburger menu icon
    //   transform: translateX(-245px);
    //   transition: all 0.6s ease-in-out;
    // } */
}
