[class*="kompass-login"]{
    body{
        overflow-y: hidden !important;
     }
    header {
        position: absolute;

        @apply flex justify-end z-30;

        width: 100%;
    }
    main{
        padding-top: 0 !important;
    }
} 